.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 80px;
    padding: 0 80px;
    background: #fff;
    box-shadow: 0 6px #000000;
}
.navbar-box {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
}
.nav-item-box {
    margin-left: 63px;
    position: relative;
    top: 3px;

    display: flex;
    flex: 1;
}
.nav-item {
    margin-right: 30px;
    padding: 4px;

    color: #747070;
    background: initial;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-item.active {
    /* border: 1px solid; */
    outline: -webkit-focus-ring-color auto 1px;
}
/* .nav-item:hover {
    background: #000000;
    color: #fff;
    color: #aa3434;
} */
/* .nav-item:visited, .nav-item:focus-visible, .nav-item:focus-within {
    color: #747070;
    color: #aa3434;
    background: initial;
} */
.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    /* border: 2px solid #ebd997de; */
}
.avatar img {
    width: 100%;
}
.content {
    max-width: 800px;
    margin: 0 auto;
    /* height: 80vh; */
    padding: 40px 20px;
    height: 1000px;
}
.footer {
    text-align: center;
    font-size: 14px;
    color: #747070;
}

.icon {}
.icon-logo {
    font-weight: 600;
    font-size: 25px;
}
.icon-logo.red {
    color: rgb(240, 77, 77);
}